service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service.yogurt
    class late_start
    user system
    group system input uhid
    writepid /dev/cpuset/system-background/tasks
